---
layout: default
main:
class:
---
<div class="guide-breadcrumb">
    <div class="grid-container">
        <nav class="usa-breadcrumb" aria-label="Breadcrumbs">
            <ol class="usa-breadcrumb__list">
                <li class="usa-breadcrumb__list-item">
                    <a href="{{ site.baseurl }}/glossary" class="usa-breadcrumb__link">
                        <span>Glossary</span>
                    </a>
                </li>
                <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                    <span>{{ page.title }}</span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="guide-main">
    <div class="">
        <div class="grid-container">
            <main class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-12{% endif %}" id="main-content">
                {% if page.title %}
                <h1>{{ page.title }}</h1>
                {% endif %}
                {{ content }}
            </main>
        </div>
    </div>
</div>
</div>