---
layout: default
main:
class:
---

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2 people-img">
                <img src="{{ site.baseurl }}/assets/img/people/{{ author.image }}" alt="{{ author.name }}" title="{{ page.name }}">
            </div>
            <div class="col-md-10">
                <h1 class="display-4">{{ page.name }}</h1>
                <p class="lead">{{ page.location }}</p>
                <p class="people-social">
                    {% if page.linkedin %}
                    <a href="{{ page.linkedin }}"><i class="fab fa-linkedin"></i></a>
                    {% endif %}
                    {% if page.github %}
                    <a href="https://github.com/{{ page.github }}"><i class="fab fa-github"></i></a>
                    {% endif %}
                    {% if page.gitlab %}
                    <a href="https://gitlab.com/{{ page.gitlab }}"><i class="fab fa-gitlab"></i></a>
                    {% endif %}
                    {% if page.twitter %}
                    <a href="https://twitter.com/{{ page.twitter }}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if page.speakerdeck %}
                    <a href="{{ page.speakerdeck }}"><i class="fab fa-speaker-deck"></i></a>
                    {% endif %}
                    {% if page.website %}
                    <a href="{{ page.website }}"><i class="fas fa-laptop"></i></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if page.quote %}
            <h2>Quote</h2>
            <p class="lead-quote">"{{ page.quote }}"</p>
            {% endif %}
            {% if content.size > 1 %}
            {% include heading-anchor.html heading="About" %}
            {{ content | markdownify }}
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="alert-info">
                {% if page.personal_pronouns %}
                <h2>Personal pronouns</h2>
                <p>{{ page.personal_pronouns }}</p>
                {% endif %}
                {% if page.role %}
                <h2>Role</h2>
                <p>{{ page.role }}</p>
                {% endif %}
                <!--
                <h2>Topics</h2>
                {% if post %}
                {% assign categories = post.categories %}
                {% else %}
                {% assign categories = page.categories %}
                {% endif %}
                <ul>
                    {% for category in categories %}
                    <li>
                        <a href="{{site.baseurl}}/topics/{{category|slugify}}">{{ category | capitalize }}</a>
                    </li>
                    {% unless forloop.last %}{% endunless %}
                    {% endfor %}
                </ul>
            -->
            </div>
        </div>
    </div>
</div>