---
layout: default
main:
class:
---
<div class="usa-section">
    <div class="grid-container">
        <div class="usa-width-three-fourths usa-layout-docs-team-member">
            <main class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}" id="main-content">
                <h1>{{ page.name }}</h1>
                <div class="grid-row grid-gap">
                    <div class="grid-col-2 people">
                        <img src="{{ site.baseurl }}/assets/img/people/{{ page.image }}" alt="photo of {{ page.name }} ">
                    </div>
                    <div class="grid-col-10">
                        {{ page.github }}
                        {{ content }}
                    </div>
                </div>
                <p>
                    {{ page.job_title }}
                    {% if page.gitub %}
                    <br>
                    phone: <a href="tel:{{ page.github }}">{{ page.github }}</a>
                    {% endif %}
                    {% if page.email %}
                    <br>
                    email: <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                    {% endif %}
                </p>
            </main>
        </div>
    </div>
</div>